
<div class="signupdiv">
  <form class="signup" action="/auth/signup" method="POST">
    <label for="new-email">Email</label>
    <input class="inp 1" class="suptextbox" id="new-email" type="email" name="email">

    <label for="new-name">Name</label>
    <input class="inp 2" class="suptextbox" id="new-name" type="text" name="name">

    <label for="new-password">Password</label>
    <input minlength="4" class="inp 3" id="new-password" type="password" name="password">

    <input class="supbutton" type="submit" value="Sign up">
  </form>
</div>
