<form action="/nhl" method="POST">
    <label for="searchPlayer">Left Wing</label>
    <input required type="text" id="searchPlayer" name="searchPlayer">

    <label for="searchPlayer">Center</label>
    <input required type="text" id="searchPlayer" name="searchPlayer">

    <label for="searchPlayer">Right Wing</label>
    <input required type="text" id="searchPlayer" name="searchPlayer">

    <label for="searchPlayer">Defense</label>
    <input required type="text" id="searchPlayer" name="searchPlayer">

    <label for="searchPlayer">Defense</label>
    <input required type="text" id="searchPlayer" name="searchPlayer">

    <label for="searchPlayer">Goalie</label>
    <input required type="text" id="searchPlayer" name="searchPlayer">

    <button type="submit">Submit Team</button>
    
</form>


<form action="/nhl" method="POST">

    <label for="leftWing">Select Left Wing</label>
    
    <select name="leftWing" id="leftWing">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    
    
    <label for="center">Select Center</label>
    
    <select name="center" id="center">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    
    
    <label for="rightWing">Select Right Wing</label>
    
    <select name="rightWing" id="rightWing">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    
    
    <label for="leftDefense">Select Defense</label>
    
    <select name="leftDefense" id="leftDefense">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    
    
    <label for="rightDefense">Select Defense</label>
    
    <select name="rightDefense" id="rightDefense">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    
    
    <label for="startGoalie">Select Goalie</label>
    
    <select name="startGoalie" id="startGoalie">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    
    
    
    <button class="createButton" type="submit">Create Team!</button>
    
    </form>