<form action="/nhl" method="POST">
    <label for="searchPlayer">Left Wing</label>
    <input required type="text" id="searchPlayer" name="searchPlayer">

    <label for="searchPlayer">Center</label>
    <input required type="text" id="searchPlayer" name="searchPlayer">

    <label for="searchPlayer">Right Wing</label>
    <input required type="text" id="searchPlayer" name="searchPlayer">

    <label for="searchPlayer">Defense</label>
    <input required type="text" id="searchPlayer" name="searchPlayer">

    <label for="searchPlayer">Defense</label>
    <input required type="text" id="searchPlayer" name="searchPlayer">

    <label for="searchPlayer">Goalie</label>
    <input required type="text" id="searchPlayer" name="searchPlayer">

    <button type="submit">Submit Team</button>
    
</form>