<div id="logintop">
<h2 id="loginheader">Sign in or create a Profile</h2>
<p id="profilebadge2"><img id="badge" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e4/NHL_Logo_former.svg/996px-NHL_Logo_former.svg.png"></p>
</div>

<div class="signor">
<ul class="login">
    <p class="login"><a href="/auth/signup">Sign Up</a></p>
    <h1 id="logintext">OR</h1>
    <p><a href="/auth/login">Log In</a></p>
</ul>
</div>