<h2 id="loginheader">Sign in or create a Profile</h2>

<ul class="login">
    <p class="login"><a href="/auth/signup">Sign Up</a></p>
    <h1 id="logintext">OR</h1>
    <p><a href="/auth/login">Log In</a></p>
</ul>