


<div class="profileHeaders">
<h1>Welcome to your PROFILE</h1>

<h2>Profile Page</h2>

</div>

<div class="profileData">
<h1><%= name %></h1>
<h2><%= email %></h2>
<h2><%= id %></h2>
</div>


<nav class="profileNavs">
    <li><a href="/nhl">All NHL Teams</a></li>
    <li><a href="/nhl/show">Favorite NHL Teams</a></li>
    <li><a href="/nhl/create">Create Team</a></li>
    <li><a href="/player">Create Player</a></li>
    <li><a href="/player/showplayer">My Created Players</a></li>
</nav>