

<div class="profileHeaders">
    <h1 id="profh1">Welcome to your PROFILE</h1>
    <p id="profilebadge"><img id="badge" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e4/NHL_Logo_former.svg/996px-NHL_Logo_former.svg.png"></p>
</div>

<div class="profileData">
<h1>Name: <%= name %></h1>

<h2>Email: <%= email %></h2>
<h2>User Id: <%= id %></h2>
</div>


<h2></h2>
<div class="profileNavs">
    <a class="box a" href="/nhl">NHL Teams</a>
    <a class="box b" href="/nhl/show">Favorite Teams</a>
    </div>

<br>
<br>


<div class="profileNavs">
    <a class="box c" href="/player">Create Player</a>
    <a class="box d" href="/player/showplayer">My Players</a>
</div>

<br>
<br>

<div class="profileNavs">
    <a class="box e" href="/team">Create Team</a>
    <a class="box f" href="/team/showteam">My Teams</a>
</div>

<br>
<br> 