


<div class="profileHeaders">
<h1>Welcome to your PROFILE</h1>

<h2>My Profile</h2>

</div>

<div class="profileData">
<h1><%= name %></h1>
<h2><%= email %></h2>
<h2><%= id %></h2>
</div>


<h2></h2>
<div class="profileNavs">
    <a class="box a" href="/nhl">NHL Teams</a>
    <a class="box b" href="/nhl/show">Favorite Teams</a>
    </div>

<br>
<br>


<div class="profileNavs">
    <a class="box c" href="/player">Create Player</a>
    <a class="box d" href="/player/showplayer">My Players</a>
</div>

<br>
<br>

<div class="profileNavs">
    <a class="box e" href="/nhl/create">Create Team</a>
    <a class="box f" href="/nhl/showteam">My Teams</a>
</div>

<br>
<br> 