nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
  font-size: 30px;

}

h1 {
  color: #9ef01a;
}

body {
  background-color: rgb(106, 197, 244);
  color: rgb(255, 102, 50);
  font-family: 'Bebas Neue', cursive;
}

a {
  color: #9ef01a;
  text-decoration: underline;
  text-decoration-color: rgb(255, 102, 50);
  
}

.well {
  margin-bottom: 25px;
  /* display: flex;
  background-color: rgb(106, 197, 244);
  color: #444;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  margin-top: 60px; */
  

}

.login {
  font-size: 140px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  /* display: inline-block; */
  margin-top: 40px;
  
}

#logintext {
  font-size: 80px;
}

.mainh1 {
  font-size: 80px;
  margin-left: .3em;
}
#loginheader {
  font-size: 80px;
  margin-left: .3em;
}

.profileData {
  margin-left: 80px;
  margin-top: -40px;
}

.profileHeaders {
  margin-left: 80px;
  

  
}

.profileNavs {
  display: flex;
  background-color: rgb(106, 197, 244);
  color: #444;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  margin-top: 60px;
   
   
  }


.box {
  background-color: #444;
  color: #fff;
  border-radius: 10px;
  padding: 100px;
  font-size: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 250px;
  text-decoration-color: red;
  color: white;
  text-shadow:2px 0 0 black,0 2px 0 black,-2px 0 0 black,0 -2px 0 black;
  
}

.box.a {
  background-image: url(https://cdn.wallpapersafari.com/67/54/VEXj60.jpg);
  background-size: 400px 250px;

}

.box.b {
  background-image: url(http://ssl.mlse.digital/leafs/downloads/leafsnation-andersen_1920x1080.jpg);
  background-size: 430px 250px;
  
}

.box.c {
  background-image: url(https://www.nawpic.com/media/2020/hockey-nawpic-12.jpg);
  background-size: 415px 275px;
}

.box.d {
  background-image: url(https://media.istockphoto.com/photos/outdoor-hockey-rink-at-night-picture-id529098127?k=6&m=529098127&s=170667a&w=0&h=Rk6Cbz7T9h6d5n5g3O874jsX2KJbQf2i_oA3qFlIynw=);
  background-size: 400px 250px;
}

.box.e {
  background-image: url(https://media.purehockey.com/q_auto,f_auto,fl_lossy/v1560369107/wp-blog/hockey-stick-blade-curves.jpg);
  background-size: 475px 275px;

  
}

.box.f {
  background-image: url(https://photos.smugmug.com/Sports/NHL-Hockey-Photography/i-z8dTrQ2/2/809d74d3/L/Phillip%27s%20Arena-L.jpg);
  background-size: 400px 250px;
}



#badge {
  width: 165px;
  height: 175px;
  margin-left: 85%;
  margin-top: -150px;
}

#profilebadge, #profh1 {
  display: inline;
}

#profh1{
  font-size: 80px;
}

#navbar {
  margin-top: 25px;
}

/* .suptextbox {
  border: 2px solid rgb(255, 102, 50);
  border-radius: 4px;
  width: 400px;
  padding: 10px 5px;
  
  
  
} */


/* .signup {
  border: solid 4px rgb(255, 102, 50);
  width: 500px;
  height: 600px;
  text-align: center;
  margin: 0 auto;
  font-size: 40px;
  
} */

.inp {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
  

}

.signupdiv {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px rgb(255, 102, 50);



 
}

.supbutton {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup {
  font-size: 20px;
}

.well h3 {
  color: #9ef01a;
  
}

.alertsuccess {
  background-color: #38b000;
  padding: 15px;
  color: white;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}

.alertfail {
  background-color: #d00000;
  padding: 15px;
  color: white;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;

}

.close {
  margin-right: 10px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 50px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}







  





