<div class="signupdiv">
  <form class="signup" action="/team" method="POST">
      <label for="teamName">Team Name</label>
      <input class="inp 1" required type="text" id="teamName" name="teamName">

      <label for="city">City</label>
      <input class="inp 2" required type="text" id="city" name="city">

      <label for="link">Official Site</label>
      <input class="inp 3" required type="url" id="link" name="link">
      
      <label for="venue">Venue</label>
      <input class="inp 4" required type="text" id="venue" name="venue">

      <label for="founded">Year Founded</label>
      <input required class="inp 5" type="number" maxlength="4" id="founded" name="founded">

      <button class="supbutton" type="submit">Submit Team</button>
      
  </form>
</div>