
<% rosterList.forEach(function(roster) { %>
    <div class="well">                       
      <h2><%= roster.fullName %></h2>
      <h3><%= roster.currentTeam %></h3>
      <h3><%= roster.jerseyNumber %></h3>
    


<form action="/nhl" method="POST">

    <label for="fullName">Select Left Wing</label>
    
    <select name="fullName" id="fullName">
      <option value="8"><% rosterList.fullName %></option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    
    
    <label for="center">Select Center</label>
    
    <select name="center" id="center">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    
    
    <label for="rightWing">Select Right Wing</label>
    
    <select name="rightWing" id="rightWing">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    
    
    <label for="leftDefense">Select Defense</label>
    
    <select name="leftDefense" id="leftDefense">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    
    
    <label for="rightDefense">Select Defense</label>
    
    <select name="rightDefense" id="rightDefense">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    
    
    <label for="startGoalie">Select Goalie</label>
    
    <select name="startGoalie" id="startGoalie">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    
    
    
    <button class="createButton" type="submit">Create Team!</button>
    
    </form>