<form action="/nhl" method="POST">
    <label for="leftwing">Left Wing</label>
    <input required type="text" id="leftwing" name="leftwing">

    <label for="center">Center</label>
    <input required type="text" id="center" name="center">

    <label for="rightwing">Right Wing</label>
    <input required type="text" id="rightwing" name="rightwing">

    <label for="leftdefense">Defense</label>
    <input required type="text" id="leftdefense" name="leftdefense">

    <label for="rightdefense">Defense</label>
    <input required type="text" id="rightdefense" name="rightdefense">

    <label for="goalie">Goalie</label>
    <input required type="text" id="goalie" name="goalie">

    <button type="submit">Submit Team</button>
    <!-- <input type="submit" value="Submit Song"> -->
</form>