<h1>Favorite Teams</h1>

<% faveList.forEach(nhlTeam =>{ %>
    <li>
        <%= nhlTeam.teamName %>
        
        <form method='POST' action="/nhl<%= nhlTeam.teamName %>?_method=DELETE"> 
        <input type="hidden" name="teamName" value='<%= nhlTeam.teamName%>'>
        
        <input type="submit" value="Delete Favorite">
    </form>
    </li>
<% }) %> 