<div class="container">
<h1 class="text-center">Favorite Teams</h1>

<% faveList.forEach(nhlTeam =>{ %>
    <div class="well">
        <h2><%= nhlTeam.teamName %></h2>
        <h3><%= nhlTeam.city %></h3>
        <h3><a href="<%= nhlTeam.link %>">Team Site</a></h3>
  
        
        <form method='POST' action="/nhl/<%= nhlTeam.id %>?_method=DELETE"> 
            <input class="btn btn-primary" type="submit" value="Delete">
       
      
        
    </form>
    </div>
<% }) %> 
</div>