<form action="/player" method="POST">
    <label for="lastName">Last Name</label>
    <input required type="text" id="lastName" name="lastName">

    <label for="firstName">First Name</label>
    <input required type="text" id="firstName" name="firstName">

    <label for="position">Position</label>
    <input required type="text" id="position" name="position">

    <label for="jerseyNumber">Jersey Number</label>
    <input required type="text" id="jerseyNumber" name="jerseyNumber">

    <label for="salary">Salary</label>
    <input required type="text" id="salary" name="salary">

    <label for="teamId">Team</label>
    <input required type="text" id="teamId" name="teamId">

    <button type="submit">Submit Player</button>
    
</form>

